.button {
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  margin-bottom: 1px;
}

.button:hover {
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #dddddd;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: teal;
  cursor: pointer;
  border-radius: 0;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: teal;
  cursor: pointer;
  border-radius: 0;
}
